* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    background-color: #252525;
    color: #fff;
}


#title {
    font-family: sans-serif;
    font-weight: 500;
}

.header-inner {
    display: flex;
    align-items: flex-end;
}

#ul-container {
    display: flex;
    gap: 1.5rem;
}

.nav-item {
    list-style: none;
    font-family: sans-serif;
}

.nav-item.level {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.nav-item.level:hover {
    cursor: pointer;
    text-decoration: underline;
}

#start {
    border: none;
    color: #fff;
    background: none;
    font-size: 16px;
    cursor: pointer;
}

.wrapper {
    width: 64rem;
    height: 40rem;
    padding: 10px;
    position: relative;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: all ease;
    transition-duration: 1s;
}

.front {
    width: 100%;
    height: 100%;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip {
    transform: rotateY(180deg);
}


.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;    
    transform: rotateY(180deg);
}

#main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 20px;
}

.easy-main {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 7.4rem;
}

.medium-main {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 3.7rem;
}

.hard-main {
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 3.7rem;
}